.instance {
    position: relative;
}

.duplicate-field {
    padding-right: 10px;
    border: none;
    opacity: 0;

    position: absolute;
    top: 0.8rem;
    right: 10%;

    transform: translateX(20px);

    transition: all 500ms ease-out;
}

.duplicate-field:hover,
.instance header:hover + .duplicate-field {
    opacity: 1;
    transform: translateX(0px);
}

@media (max-width: 1250px) {

    .duplicate-field {
        right: 12%;
    }
}

@media (max-width: 1080px) {

    .duplicate-field {
        right: 14%;
    }
}
