.field-field_group_start,
.field-field_group_end {
	min-height: 0;
	margin: 0;
	padding: 0;
}

.field-group {
	margin-left: -6px;
	margin-right: -6px;
	margin-bottom: 1.5rem;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field-group > div {
	margin: 0 6px;

	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

	-webkit-flex-basis: calc(33.33% - 12px);
	-moz-flex-basis: calc(33.33% - 12px);
	-ms-flex-preferred-size: calc(33.33% - 12px);
	flex-basis: calc(33.33% - 12px);
}

.field-group label {
	margin: 0;
}

/*
 *	Extension compatibility
 */

/* Meta Keys */
/* Dynamic Text Field */
.field-group .field-dynamictextfield ol,
.field-group .field-metakeys ol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field-group .field-dynamictextfield li,
.field-group .field-metakeys li {
	flex-basis: 50%;
	flex-grow: 1;
}

/* Checkbox */
.field-group .field-checkbox:first-child {
	margin-top: 0;
}
